<!DOCTYPE html>
<html>
<head><meta charset="utf-8" /><title>Docentenportaal CGI</title></head>
<body>
<nav>
    <a href="/">Dashboard</a> |
    <a href="/Admin/Students">Students</a> |
    <a href="/Admin/Teachers">Teachers</a> |
    <a href="/Admin/Repositories">Repositories</a> |
    <a href="/Assessments/Groups">Groepen & beoordelingen</a> |
    <a href="/Assessments/Student">Studentenoverzicht</a>
</nav>
<hr />
@RenderBody()
</body>
</html>
